#profile-container {
  width: 15rem;
  height: 15rem;
  border: solid 3px white;
  border-radius: 1000px;
  overflow: hidden;
}

#profile-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#prof-input {
  display: none;
}

#prof-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: white;
  color: blue;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
#prof-button:hover {
  background-color: darkblue;
}

.no-select {
    user-select: none;
}

#profile-general-container {
  width: 90vw; 
  margin: 0 auto; 
  padding: 20px; 
  color: white;
}

#profile-header {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

#pic-container {
  display: flex;
  flex-direction: column;
  width: fit-content;
  align-items: center;
}

#four-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.profile-part {
  color: white;
  font-size: 1.4rem;
}

.profile-input {
  text-align: center;
}