#main-container {
  width: 90vw;
  height: 74vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -35%);
  /* background-color: navy; */
  border-radius: 30px;
  display: flex;
  justify-content: center;
}

#welcome {
  position: absolute;
  top: 12%;
  left: 5%;
  font-size: 3rem;
  color: white;
}

#dashboard {
  position: absolute;
  top: 20%;
  right: 7%;
  font-size: 2rem;
  color: white;
}

#div-container {
  position: absolute;
  width: 97.5%;
  height: 85%;
  bottom: 3%;
  display: flex;
  flex-direction: row;
}

#placement-container {
  height: 100%;
  width: 60%;
  border-radius: 20px;
  position: relative;
  background-color: navy;
}

#top {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 1.7rem;
  margin-top: 20px;
  margin-bottom: 15px !important;
}

#top-todo {
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 8px;
  width: 78%;
  margin-left: 14%;
  margin-top: 20px;
}

#todos {
  padding: 10px;
}

#bottom {
  display: flex;
  position: absolute;
  width: 100%;
  height: 10%;
  justify-content: center;
  align-items: center;
}

#todo-container {
  height: 100%;
  width: 39%;
  position: absolute;
  right: -1%;
  border-radius: 20px;
  background-color: navy;
}

#deadlines-header {
  font-size: 2rem;
  color: white;
  margin: auto;
  width: 38%;
  margin-top: 15px;
}

#applications-header {
  font-size: 2rem;
  color: white;
  margin: auto;
  width: 55%;
  margin-top: 15px;
}

#see {
  background-color: rgb(255, 255, 255);
  border: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  margin-top: -20px;
}

#see img {
  width: 30px;
  height: auto;
}

#see:hover {
  background-color: lightgrey;
}

#add {
  background-color: white;
  border: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
}

#add img {
  width: 30px;
  height: auto;
}

#add:hover {
  background-color: lightgrey;
}

.no-select {
  user-select: none;
}

#vertical-split {
  width: 68vh;
  position: inherit;
  transform: rotate(90deg);
  left: 42.3%;
  top: 42%;
}

#placements {
  padding-left: 20px;
  padding-right: 20px;
}