body {
  background-color: #0f044c;
}

#cont {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  color: white;
}

#slash {
  background-color: white;
  content: "";
  width: 110vh;
  height: 125vw;
  transform: translate(115%, -50%) rotate(35deg);
  position: absolute;
  overflow: hidden;
  z-index: -1;
}

#slash::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/compass.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: translate(-14%, -2%) rotate(-35deg);
  overflow: hidden;

}

#slash p {
  color: white;
}

#welcomer {
  font-size: 29px;
  margin-bottom: -10px;
}

#namer {
  font-size: 48px;
}

#login-container {
  width: fit-content;
  transform: translate(50%, 20%);
}

#credentials-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#remember-me-button {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#remember-label {
  font-size: 12px;
}

#but-cont {
  display: flex;
  justify-content: center;
}

.form-button {
  background-color: #1a2383;
  color: white;
  border: none;
  border-radius: 10px;
  transition: background-color 0.2s ease-out;
}

.form-button:hover {
  background-color: #0056b3;
} 

#log-but {
  padding: 14px 80px;
}

#reg-but {
  padding: 10px 40px;
  margin-top: 10px;
}

#reg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.form-input {
  padding: 10px;
  border-radius: 12px;
  box-sizing: border-box;
}


#chkbx {
  display: none;
}

#remember-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: purple;
 }

 .clickable {
  color: white;
 }

 #forgot-password {
  margin-left: 20px;
 }