.cont {
  color: white;
}

.placement-title {
  font-size: 50px;
}

a[href] {
  color: white;
}

#progress-headers {
  align-items: center;
  background-color: rgb(26, 26, 92);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#rejected-headers {
  align-items: center;
  background-color: rgb(26, 26, 92);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#accepted-headers {
  align-items: center;
  background-color: rgb(26, 26, 92);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

table {
  width: 100%;
  
}


.single-row {
  display: contents;
}


.header-containerrr {
  width: 90vw;
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(26, 26, 92);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#add-button {
    position: absolute;
    right: 1%;
    top: 15%;
    font-size: 20px;
    margin-top: -15px;
    width: 60px;
}

button:hover{
    cursor: pointer;
}

.main-headers:hover{
  cursor: pointer;
}

