.cont {
  color: white;
}

.placement-title {
  font-size: 50px;
}

a[href] {
  color: white;
}

#headers {
  align-items: center;
  background-color: rgb(9, 9, 160);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

table {
  width: 100%;
  
}


.single-row {
  display: contents;
}


.header-containerrr {
  width: 90vw;
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(9, 9, 160);
  border-radius: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#add-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    margin-top: 10px;
}

button:hover{
    cursor: pointer;
}