body {
  overflow-x: hidden;
}

.cont {
  color: white;
}

.placement-title {
  font-size: 50px;
}

a[href] {
  color: white;
}

#progress-headers {
  align-items: center;
  background-color: rgb(26, 26, 92);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

#rejected-headers {
  align-items: center;
  background-color: rgb(26, 26, 92);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#accepted-headers {
  align-items: center;
  background-color: rgb(26, 26, 92);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

table {
  width: 100%;
}

.single-row {
  display: contents;
}

.header-containerrr {
  width: 90vw;
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(26, 26, 92);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#add-button {
  position: absolute;
  margin-top: -20px;
  right: 1%;
  top: 15%;
  border-radius: 50%;
  background-color: blue;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.1s ease-in, background-color 0.3s ease-in;
  transform-origin: center;
}

#add-button img {
  width: 60px;
  height: auto;
  filter: invert(1);
}

#add-button:hover {
  background-color: rgb(17, 17, 170);
  transform: scale(1.1) rotate(45deg);
}

button:hover {
  cursor: pointer;
}

.main-headers:hover {
  cursor: pointer;
}

#filter-button {
  background-color: blue;
  border-radius: 40px;
  border: none;
  padding: 4px;
  margin-left: 5px;
  transition: transform 0.1s ease-in;
}

#filter-button:hover {
  transform: scale(1.2) rotate(90deg);
}

#filter-button img {
  width: 20px;
  height: auto;
  filter: invert(1);
  position: relative;
  margin-bottom: -3px;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #e0e0e0;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: #4a90e2;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #357ab7;
}

.main-headers:hover{
  color: rgb(158, 158, 198);
}