.placement-container-home {
  width: 90vw;
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(9, 9, 160);
  border-radius: 50px;
}

.placement-container-dashboard {
  width: 95%;
  margin: 10px auto;
  padding: 15px;
  background-color: rgb(9, 9, 160);
  border-radius: 50px;
  color: white;
  font-size: 1.1rem;
}

.placement-container-home:hover,
.placement-container-dashboard:hover {
  background-color: blue;
  transition: background-color 0.3s ease;
}

.home-spacing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.dashboard-spacing {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

table {
  width: 100%;
}

.table-row {
  display: contents;
}

.red {
  color: red;
  font-weight: bold;
}

.orange {
  color: orange;
  font-weight: bold;
}

.green {
  color: rgb(0, 255, 51);
  font-weight: bolder;
}
