.placement-modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
  animation: backgroundFadeIn 0.2s ease-out forwards;
}

.dashboard-modal-screen {
  position: fixed;
  top: -18%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  color: white;
  backdrop-filter: blur(2px);
  animation: backgroundFadeIn 0.2s ease-out forwards;
}

#modal-window {
  width: 40vw;
  height: 85vh;
  max-height: 95vh;
  background-color: navy;
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeInModal 0.2s ease-in-out forwards;
}

.dashboard-modal-window {
  height: 70vh !important;
}

.close-button {
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 1000;
  background: none;
  border: none;
}

#edit-button {
  position: absolute;
  left: 30px;
  top: 20px;
  z-index: 1000;
  width: 36px;
  height: auto;
  background: none;
  border: none;
}

#delete-button {
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 1000;
  width: 36px;
  height: auto;
  background: none;
  border: none;
}

#edit-button img {
  filter: invert(1);
}

#update-button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2600ff;
  font-weight: bold;
  height: auto;
  background-color: white;
  padding: 8px 12px;
  width: 100px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#update-button:hover {
  cursor: pointer;
  background-color: rgb(192, 187, 217);
}

.close-button img {
  width: 18px;
  height: auto;
  filter: invert(1);
}

.save-button {
  background: none;
  border: none;
  margin-top: 8px;
}

.save-button img {
  width: 35px;
  height: auto;
  filter: invert(1);
}

#modal-content {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  justify-items: center;
  overflow: hidden;
}

.detail {
  text-align: center;
  padding: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.detailU {
  text-align: center;
  padding: 5px;
  justify-content: center;
}

label {
  font-weight: bold;
}

#general-title {
  text-align: center;
}

#buttons {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.input-field {
  width: 70%;
}

#applicationLink {
  width: 100%;
}

.textarea {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  width: 100%;
  height: 7vh;
  resize: none;
}

.placement-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#modal-content .detail:nth-child(13) {
  grid-column: span 2;
}

.update {
  height: 45vh !important;
}

.detailU {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#applicationLink {
  width: 80%;
}
.shorten {
  margin-bottom: -40px;
}

#modal-window.fade-out {
  animation: fadeOutModal 0.2s ease-out forwards;
}

.placement-modal-screen.fade-out {
 animation: backgroundFadeOut 0.2s ease-out forwards;
}

.placement-modal-screen.fade-out-update {
  animation: backgroundFadeOut 0.1s ease-out forwards;
 }

@keyframes backgroundFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes backgroundFadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


@keyframes fadeInModal {
  from {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.93); 
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}


@keyframes fadeOutModal {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); 
  }
  to {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}