#modal-container {
    position: fixed;       
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(5px); 
    z-index: 999; 
}

#modal-window {
    width: 80%;
    height: 90%;
    background-color: navy;
    z-index: 1000;
    position: absolute;
    top: 50%;        
    left: 50%;           
    transform: translate(-50%, -50%);
    border-radius: 50px;
}

#close-button {
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1000;
}

#close-button:hover {
    cursor: pointer;
}

#modal-content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}